body {
    font-family: sans-serif;
}

#container{
    position: relative;
    top: 30%;
    

}

form {

    width: 40%;
    margin: 0 auto;
    padding: 2% ;

}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.login-link {
    text-align: center;

}

a {
    color: #000;
}